/*
    November 2017 Chris Gonzalez 
*/

h1,
h2,
.navbar a {
    font-family: Permanent marker;
}
li a {
    font-size: 1.3em;
}
p {
    font-size: 1em;
}
body,
.ui-widget {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #E4F2E3;
}
nav.navbar-inverse {
    background-color: #009956;
    border: #45A649;
    font-size: 1.4em;
}
a.navbar-brand {
    font-size: 1.8em;
}
a,
a:visited,
a:focus {
    color: black !important;
}
a:hover {
    color: white !important;
}
a:active {
    color: #E4F2E3 !important;
}
/*center navbar elements*/

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
#menu-accordion {
    width: inherit;
}
div.carousel-caption {
    font-size: x-large;
    color: yellow;
    text-shadow: 2px 2px black;
}
#myCarousel.carousel {
    width: 630px;
    margin: auto;
}
.info {
    font-size: 1.2em;
}
footer {
    text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}
#map {
    height: 400px;
    width: 100%;
}
nav.sidebar,
nav.sidebar:hover a,
nav.sidebar:active a,
nav.sidebar:visited a,
nav.sidebar:focus a {
    background-color: #9ACF96;
    border: #E4F2E3;
}
nav.sidebar {
    font-size: 1.4em;
}
.nav>li>a:focus {
    background-color: transparent;
    color: white !important;
}
.navbar-header a:hover,
.navbar-header a:active, #restaurent-name{
    color: black !important;
}
.card {
    border-style: solid;
    border-color: #9ACF96;
    border-width: 1px;
    height: 350px;
    border-radius: 5px;
}
.jumbotron {
    border-radius: 5px;
    background-color: #9ACF96;
}
select{
    height: 200px;
}
.menu-card{
    background-color: #cce7cb;
}
.navbar, .menu-card, .step{
    box-shadow: 5px 5px 3px grey;
}

.add-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px; 
}

.menu-img:hover {opacity: 0.8;}

.menu-img:action{

}

.category-info{
    padding-left: 45px;
}

#im-done-btn, #see-order-btn{
    position: absolute;    
    font-family: 'Montserrat', sans-serif !important;
}
#im-done-btn{
    right: 50px;
}

#see-order-btn{
    right: 150px;
}

#header{
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.go-back:hover,.go-back:focus, #back-to-home-anchor:hover,#back-to-home-anchor:focus{
    text-decoration: none;
}

.menu-nav{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1em;
}

.nav-item{
    width:100%;
}

.nav-link{
    padding: 5px !important;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.text{
    background-color: white;
}

#items{
    list-style: none;
}

.carousel,
.carousel-inner {
  max-width: 100%;
}

.item {
  max-width: 100%;
}
.carousel-inner img {
  margin: auto;
}

