/*
    November 2017 Chris Gonzalez 
*/
h1,h2,a{
    font-family: Permanent marker;
}
a:link, a:active,a:visited {
    text-decoration: none;
    color: #000;
}
li a{
    font-size: 1.3em;
}
p{
    font-size: 1em;
}